services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev.frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8000/api
      - VITE_WS_BASE_URL=ws://localhost:8000
      - VITE_PYODIDE_BASE=https://cdn.jsdelivr.net/pyodide/v0.25.1/full/
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev.backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
